.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    padding: 10px 10px;
}

.logo {
    max-width: 110px;
    max-height: 110px;
}

.reservation {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.reservation div {
    text-align: right;
    margin-right: 10px;
}

.reservation strong {
    color: #fff;
    display: block;
}

.reservation span {
    color: #ddd;
    font-size: 15px;
}